@charset "utf-8";
/* 웹 */
@media screen and (min-width: 1200px) {
  div#headerWrap > header {
    width: 1200px;
  }
  div#box01 > ul {
    width: 1200px;
  }
  div#box02 > article > figure {
    width: 1080px;
  }
}

/*  */
@media screen and (max-width: 1199px) and (min-width: 780px) {
  #gall > ul > li dl > dd {
    font: 18px "Webfont01", sans-serif;
  }
}
/* 태블릿 */
@media screen and (max-width: 779px) and (min-width: 480px) {
  /* header */
  div#headerWrap > header {
    padding: 10px 0;
  }
  div#headerWrap > header > h1 {
    width: 150px;
  }
  div#headerWrap nav > ul > li {
    margin: 0 10px;
  }
  /* maingall */

  #gall > ul > li > div {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #gall > ul > li dl {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  #gall > ul > li dl > dt {
    font: 30px/30px "webfont02", sans-serif;
    margin-bottom: 20px;
  }
  /* box01 */
  div#box01 {
    padding-bottom: 0px;
  }
  div#box01 > h3 {
    font: 30px "webfont02", sans-serif;
    padding: 30px 0;
  }
  div#box01 > ul > li:first-child {
    margin: 0 auto;
    width: 80%;
  }
  div#box01 > ul > li:first-child > figure > img {
    width: 50%;
  }
  div#box01 > ul > li:first-child > figure {
    text-align: center;
  }
  div#box01 > ul > li {
    width: 24%;
  }
  /* box02 */
  div#box02 {
    /* position: relative; */
  }

  div#box02 > h3 {
    font: 25px "webfont02", sans-serif;
    width: 100%;
    text-align: center;
    z-index: 999;
    padding: 20px 0 10px;
    background-color: #ec8388;
    color: #fff;
  }
  div#box02 > article#Insta01 {
    height: 50vh;
    background: url("../img/main/g1.jpg") no-repeat center center;
    background-size: 100% auto;
  }
  div#box02 > article > figure {
    width: 100%;
    height: 100%;
  }
  div#box02 > article#Insta01 figcaption {
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20vw 0 0 -20vw;
    background-color: rgba(105, 88, 93, 0.5);
    box-sizing: content-box;
    padding: 25px;
  }
  /* 공통부분 */
  div#box02 > article figcaption > dl {
    color: #fff;
    text-align: center;
  }
  div#box02 > article figcaption > dl > dt {
    font: 15px "webfont02", sans-serif;
    margin-bottom: 20px;
  }
  div#box02 > article figcaption > dl > dd {
    font: 22px "webfont03", sans-serif;
  }
  div#box02 > article img {
    /* width: 100%;
        height: auto; */
    display: none;
  }
  /* box02 두번째사진 */
  div#box02 > article#Insta02 {
    height: 50vh;
    background: url("../img/main/g2.jpg") no-repeat center center;
    background-size: 100% auto;
  }
  div#box02 > article#Insta02 figcaption {
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20vw 0 0 -20vw;
    background-color: rgba(105, 88, 93, 0.5);
    box-sizing: content-box;
    padding: 25px;
  }

  /* footer */
  div#footerWrap {
    padding: 20px 0;
  }
  div#footerWrap ul > li:nth-child(1) {
    display: none;
  }
  div#footerWrap ul > li:nth-child(3) {
    display: none;
  }
  /*  */
}
/* 모바일 */
@media screen and (max-width: 479px) {
  div#headerWrap > header {
    padding: 10px 0;
  }
  div#headerWrap > header > h1 {
    display: none;
  }
  div#headerWrap nav {
    margin-bottom: 0px;
  }
  div#headerWrap nav > ul > li {
    margin: 0 5px;
  }
  div#headerWrap nav > ul > li > a {
    font: 15px "webfont02", sans-serif;
  }
  /* maingall */
  #gall > ul > li > div {
    width: 90%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #gall > ul > li dl {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  #gall > ul > li dl > dt {
    font: 25px/25px "webfont02", sans-serif;
    margin-bottom: 15px;
    border: 3px dotted #ffffff;
  }
  #gall > ul > li dl > dd {
    font: 15px "webfont01", sans-serif;
  }
  */

/*  */
/* #gall>ul>li>div{
    width: 50%; height: 50%;
    position: absolute;
    bottom:25%; right:25%;
}
#gall>ul>li dl>dt{
    font: 15px/15px 'webfont02',sans-serif;
    margin-bottom: 20px;
}
#gall>ul>li dl>dd{
    font: bold 12px 'webfont01',sans-serif;  
    } */

/* box01 */
div#box01 {
    padding-bottom: 0px;
  }
  div#box01 > h3 {
    font: 25px "webfont02", sans-serif;
    padding: 30px 0;
  }
  div#box01 > ul {
    /* width: 1200px; */
    width: 500%;
  }
  div#box01 > ul > li {
    width: 20%;
  }
  div#box01 > ul > li > figure {
    width: 100%;
  }
  div#box01 > ul > li > figure > figcaption > p {
    font: 18px "webfont01", sans-serif;
    color: #fff;
    padding: 20px 0;
    background-color: #ec8388;
  }

  /* 모바일 box01 갤러리 버튼*/
  div#box01 > .prev {
    display: block;
    width: 25px;
    position: absolute;
    left: 0px;
    top: 50%;
    background-color: #fce1e1;
  }
  div#box01 > .prev > img {
    width: 25px;
  }
  div#box01 > .next {
    display: block;
    width: 25px;
    position: absolute;
    right: 0px;
    top: 50%;
    background-color: #fce1e1;
  }
  div#box01 > .next > img {
    width: 25px;
  }
  /* box02 */
  div#box02 {
    position: relative;
  }

  div#box02 > h3 {
    font: 25px "webfont02", sans-serif;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    text-align: center;
    z-index: 999;
    color: #fff;
  }
  div#box02 > article#Insta01 {
    height: 100vh;
    background: url("../img/main/g1.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  div#box02 > article > figure {
    width: 100%;
    height: 100%;
  }
  div#box02 > article#Insta01 figcaption {
    width: 60vw;
    height: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30vw 0 0 -30vw;
    background-color: rgba(105, 88, 93, 0.5);
    box-sizing: content-box;
    padding: 15px;
  }
  /* 공통부분 */
  div#box02 > article figcaption > dl {
    color: #fff;
    text-align: center;
  }
  div#box02 > article figcaption > dl > dt {
    font: 12px "webfont02", sans-serif;
    margin-bottom: 20px;
  }
  div#box02 > article figcaption > dl > dd {
    font: 18px "webfont03", sans-serif;
  }
  div#box02 > article img {
    /* width: 100%;
        height: auto; */
    display: none;
  }
  /* box02 두번째사진 */
  div#box02 > article#Insta02 {
    height: 100vh;
    background: url("../img/main/g2.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  div#box02 > article#Insta02 figcaption {
    width: 60vw;
    height: 60vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30vw 0 0 -30vw;
    background-color: rgba(105, 88, 93, 0.5);
    box-sizing: content-box;
    padding: 15px;
  }
  /* footer */
  div#footerWrap {
    padding: 0px 0 30px;
  }
  div#footerWrap ul > li:nth-child(1) {
    display: none;
  }
  div#footerWrap ul > li:nth-child(3) {
    display: none;
  }
  div#footerWrap ul > li:nth-child(2) > dl > dt {
    display: none;
  }
  div#footerWrap ul > li:nth-child(2) > dl > dd {
    display: none;
  }
  div#footerWrap ul > li {
    font: 12px "webfont01", sans-serif;
  }
  /*  */
}
