@charset "utf-8";

.hideClass {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  visibility: hidden;
}
.selectedMap {
  background-color: #504e4f;
}
/* header */
div#headerWrap {
  /* position: fixed;
    left:0; top:0; */
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  /* z-index: 999; */
}
div#headerWrap > header {
  /* width: 1200px; */
  width: 95%;
  margin: 0 auto;
  padding: 25px 0;
}
div#headerWrap > header > h1 {
  width: 200px;
  /* width: 16.666666px; */
  margin: 0 auto;
}
div#headerWrap > header > h1 > a > img {
  width: 100%;
}
div#headerWrap nav {
  margin-bottom: 20px;
}
div#headerWrap nav > ul {
  width: 100%;
  text-align: center;
}
div#headerWrap nav > ul > li {
  display: inline-block;
  margin: 0 35px;
}
div#headerWrap nav > ul > li > a {
  font: 20px "webfont02", sans-serif;
  color: #ff00aa;
}
div#headerWrap nav > ul > li > a:hover {
  color: #d6b5ff;
}
.selected {
  color: #d6b5ff;
  border-bottom: 3px solid #d6b5ff;
}

/* SubMenu */
div#SubMenu {
  width: 100%;
  padding: 20px 0;
  background-color: #fce1e1;
}
div#SubMenu > nav {
}
div#SubMenu > nav > ul {
  width: 100%;
  text-align: center;
}
div#SubMenu > nav > ul > li {
  display: inline-block;
  margin: 0 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
div#SubMenu > nav > ul > li > a {
  font: 15px "webfont02", sans-serif;
  color: #ffa0ca;
}
div#SubMenu > nav > ul > li > a:hover {
  color: #ff00aa;
}
/* box01 */
div#box01 {
  width: 100%;
  margin: 0 auto;
  background-color: #fce1e1;
}
div#box01 > h3 {
  font: bold 35px "webfont01", sans-serif;
  color: #e05c7d;
  text-align: center;
  padding: 30px 0;
}
div#box01 > section {
  /* width : 1200px; */
  width: 62.5%;
  height: 50vh;
  margin: 0 auto;
}
div#box01 > section > div#map {
  width: 50%;
  height: 100%;
  float: left;
}
div#box01 > section > ul {
  width: 50%;
  /* height: 100%; */
  float: right;
  display: flex;
  flex-wrap: wrap;
}
div#box01 > section > ul > li {
  width: 47%;
  border: 2px solid rgb(255, 248, 255);
  text-align: center;
  font: 25px "webfont01", sans-serif;
  background-color: rgb(255, 196, 211);
  color: rgb(255, 255, 255);
  margin: 3px;
  height: 24vh;
  position: relative;
}
div#box01 > section > ul > li > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* box02 */
div#box02 {
  width: 100%;
  background-color: #fce1e1;
}
div#box02 > h3 {
  font: bold 35px "webfont01", sans-serif;
  color: #e05c7d;
  text-align: center;
  padding: 30px 0;
}
div#box02 > ul {
  /* width:1200px; */
  width: 62.5%;
  height: 50vh;
  margin: 0 auto;
  background-color: #fff2f2;
  border: 5px double #ffffff;
  border-radius: 8px 8px 8px 8px;
  padding: 30px 0;
}
div#box02 > ul > li {
  margin-bottom: 35px;
  height: 33%;
}
div#box02 > ul > li > dl {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  font: 25px "webfont01", sans-serif;
  color: rgb(77, 76, 76);
  background-color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
  border: 3px solid rgb(253, 181, 181);
  border-radius: 8px 8px 8px 8px;
}
div#box02 > ul > li > dl > dt {
  width: 40%;
  float: left;
  text-align: center;
}
div#box02 > ul > li > dl > dd {
  width: 60%;
  /* height: auto; */
  float: right;
}
/* box03 */
div#box03 {
  width: 100%;
  background-color: #fce1e1;
  padding: 20px 0;
}
div#box03 > h3 {
  font: bold 35px "webfont01", sans-serif;
  color: #e05c7d;
  text-align: center;
  padding: 30px 0;
}
div#box03 > section {
  width: 100%;
  margin: 0 auto;
}
div#box03 > section > h4 {
  font: bold 28px "webfont01", sans-serif;
  text-align: center;
  padding: 20px 0;
  color: #505050;
  margin: 20px 0;
}
div#box03 > section#sec01 {
}

div#box03 > section#sec01 > ul {
  /* width: 1200px; */
  width: 62.5%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
div#box03 > section#sec01 > ul > li {
  position: relative;
}
div#box03 > section#sec01 > ul > li > img {
  width: 350px;
  height: 300px;
}
div#box03 > section#sec01 > ul > li > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 300px;
  background-color: rgba(250, 181, 181, 0.8);
}
div#box03 > section#sec01 > ul > li > div > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: #574643;
  font: 30px "webfont03", sans-serif;
}
div#box03 > section#sec02 {
  padding: 30px 0;
}
div#box03 > section#sec02 > p {
  font: 20px "webfont02", sans-serif;
  text-align: center;
  padding: 20px 0;
  color: #ff91c4;
}
div#box03 > section#sec02 > form {
}
div#box03 > section#sec02 > form > fieldset {
  width: 56.25%;
  margin: 0 auto;
}
div#box03 > section#sec02 > form > fieldset > legend {
}
div#box03 > section#sec02 > form ul {
  width: 100%;
  margin: 0 auto;
}
div#box03 > section#sec02 > form ul > li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 70px;
}
div#box03 > section#sec02 > form ul > li > label {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 70px;
  height: 50px;
  background: #fd82b5 url("../img/logo/contact_icon_01.png") no-repeat center;
  text-indent: -9999px;
  border-radius: 8px 0 0 8px;
}
div#box03 > section#sec02 > form ul > li:nth-child(2) > label {
  background-image: url("../img/logo/contact_icon_02.png");
}
div#box03 > section#sec02 > form ul > li:nth-child(3) > label {
  background-image: url("../img/logo/contact_icon_03.png");
}
div#box03 > section#sec02 > form ul > li:nth-child(4) > label {
  background-image: url("../img/logo/contact_icon_04.png");
}
div#box03 > section#sec02 > form ul > li > input {
  width: 100%;
  height: 50px;
  border: none;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0;
  font: 20px "webfont02", sans-serif;
  text-indent: 20px;
}
div#box03 > section#sec02 > form ul > li > textarea {
  width: 100%;
  height: 150px;
  border: none;
  box-sizing: border-box;
  font: 20px/50px "webfont02", sans-serif;
  text-indent: 20px;
  border-radius: 0 8px 8px 8px;
}
div#box03 > section#sec02 > form p {
  text-align: right;
}
div#box03 > section#sec02 > form p > input {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 184, 184);
  font: 30px "webfont02", sans-serif;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
}
/* footer */
div#footerWrap {
  background-color: #4d4d4d;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}
div#footerWrap > footer {
  width: 90%;
  margin: 0 auto;
}
div#footerWrap ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
div#footerWrap ul > li {
  font: 15px "webfont01", sans-serif;
  color: #fff;
  text-align: center;
}
div#footerWrap ul > li > ul {
  display: block;
}
div#footerWrap ul > li > ul > li {
  text-align: center;
  margin: 0 auto;
}
div#footerWrap ul > li > ul > li > a {
  color: #fff;
}
div#footerWrap ul > li > ul > li > a:hover {
  color: #ff00aa;
}
div#footerWrap ul > li > dl {
}
div#footerWrap ul > li > dl > dt {
  display: inline;
}
div#footerWrap ul > li > dl > dd {
  display: inline;
}
